@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    font-family: 'Lexend', system-ui, sans-serif;
  }
}


.main{
  background-image: url(../app/assets/darkbg3.webp);
  background-size: cover;
  background-position: center;
  background-color: #0c1225;
  background-repeat: no-repeat;
  font-family: '"Lexend"', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.glass{
  background: linear-gradient(0deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(15px);
}
.glasstwo{
  background: linear-gradient(0deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(20px);
}

a{
  text-decoration: none;
}

.profile{
  animation: profile__animate 8s ease-in-out infinite 1s ;
}

@keyframes profile__animate{
  0% {
       border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  50% {
       border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }
  100% {
       border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}

.scrollbar::-webkit-scrollbar-track
{
	border: 1px solid white;
	background-color: transparent;
  border-radius: 10px;

}

.scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #fff;	
  border-radius: 10px;
}

/* copy fsadfasdfsa */

.header-blur{
  backdrop-filter: blur(20px);
  background: linear-gradient(0deg , rgba(229, 229, 229, 0) 0%, rgba(175, 137, 202, 0.155) 100%);
}

.menu-hover:hover{
  backdrop-filter: blur(8.8px);
  -webkit-backdrop-filter: blur(8.8px);
} 

.sidenav-li:hover{
  backdrop-filter: blur(12px) saturate(200%);
  -webkit-backdrop-filter: blur(12px) saturate(200%);
  /* background-color: rgba(255, 255, 255, 0.304); */
  /* border: 1px solid rgba(209, 213, 219, 0.3); */
}

/* project img */
.example:hover{
  transform: scale(1.01);
  box-shadow:  0 4px 8px 0 rgba(255, 252, 252, 0.299), 0 6px 20px 0 rgba(249, 249, 249, 0.364);
  transition: 0.4s;
}

.project-title{
  
  border-bottom: solid 1px rgba(255, 255, 255, 0.597);
}

/* button pe hover */

/* From https://css.glass */
.glass-copy{
background: rgba(255, 255, 255, 0);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(16px);
-webkit-backdrop-filter: blur(16px);
border: 2px solid rgba(255, 255, 255, 0.217);
}

.project-bg{

  background: radial-gradient(circle, rgba(255, 255, 255, 0.117) 26%, rgba(229, 229, 229, 0) 100%);
}