@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  background-image: url(../app/assets/darkbg3.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.glass{
  background: linear-gradient(0deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(15px);

}
.glasstwo{
  /* background: linear-gradient(0deg , rgba(229, 229, 229, 0.1) 0%, rgba(175, 137, 202, 0.155) 100%);
  backdrop-filter: blur(50px); */
  /* transition: all 0.5s ease-in-out;  */

  background: linear-gradient(0deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
  backdrop-filter: blur(30px);
}
